.container {
    margin: 20px 0;
  }
  
  .businessInfo {
    font-weight: bold;
    font-size: 20px;
  }
  
  .reviewSection {
    height: 400px;
    width: 100%;
    margin-top: 20px;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }