
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-size: cover; 
    background-position: center; 
}
/* .container {
    margin: 20px 0;
  } */
.bottom {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-size: cover; 
    background-position: center; 
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
  }
  /* form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  } */
  
  input[type="text"],
  textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #fa093d;
  }
  
 /* Comment styles */

  .comment-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .comment {
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .comment .name {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  .comment .date {
    font-size: 14px;
    color: #666666;
    margin-bottom: 10px;
  }
  
  .comment .text {
    font-size: 16px;
    color: #333333;
  } 





/* Form styles */
form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .form input[type="text"],
  .form textarea {
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
  }
  
  .form input[type="text"]:focus,
  .form textarea:focus {
    outline: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .form textarea {
    height: 150px;
    resize: none;
  }
  
  .form button[type="submit"] {
    background-color: #38B2AC;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16x;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .form button[type="submit"]:hover {
    background-color: #ed3c5c;
  }
  
 